body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
h1{
    font-weight: 800;
    font-size: 60px;
    color:rgb(87,87,87);
    
    
    
}
p{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 30px;
    color: gray;
}
.top-span{
    color: rgb(251,152,76);
}
.top-section{
    display: flex;
    padding-left: 6%;
    padding-top: 8%;
    
    margin-bottom: 100px;
    

}
.first-intro{
    width: 50%;
    padding: 15px;
    font-size: 30px;
    
    
    
    
}
.first-intro img{
    width: 100%;
    

}
.button{
    background-image: linear-gradient(red,black);
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 25px;
    font-weight: 700;
}
.second-section{
    background-image: url(images/shapes/2nd_section_bg.png);
    background-repeat: no-repeat;
    display: flex; 

    background-position:center;
    background-size:cover;
    
    margin-bottom: 100px;

    
}

h2{
    padding-top: 15%;
    
    
    color:rgb(87,87,87);
    font-weight: 700;
}
h4{
    padding-top: 10px;
    padding-bottom: 15%;
    
    font-size: 20px;
    font-weight: 500;
    
}
.about_me{
    width: 40%;
    font-size: 30px; 
    padding-left: 8%;
    
   
    
}

.about_me img{
   
    
    width: 60%;
    padding-left: 15%;
    padding-top: 60px;
    
    
    
}
.Last_section{
    margin: 0;
    display: flex;
    
}
.recipe{
    padding-bottom: 15px;
    text-align: center;
    color:rgb(87,87,87);
    font-weight: 700;
    font-size: 40px;

}
.recipe_info{
    padding-bottom: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 100px;
}
.recipe_title{
    font-size: 30px;
    font-weight: 800;
    color: black;

}
.title_info{
    font-size: 20px;
    font-weight: 300;
}
.flexible{
    display: flex;
    margin-bottom: 100px;
    
}
.div1 img{
    width: 100%;
}
.div2 img{
    width: 100%;
}
.div3 img{
    width: 100%;
}
.div1{
    
    margin-left: 5%;
    text-align: justify;
    padding: 2%;
}
.div2{
    
    margin-left: 5%;
    text-align: justify;
    padding: 2%;
}
.div3{
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}
#div1{
    box-shadow: 0px 5px 10px 10px gray;
    
    border-radius: 30px;
}
#div2{
    box-shadow: 0px 5px 10px 10px gray;
    
    border-radius: 30px;
}
#div3{
    box-shadow: 0px 5px 10px 10px gray;
    
    border-radius: 30px;
}

.footer{
    background-color: black;
    text-align: center;
    margin: 0;
    
}

h2 span{
    color: orange;
    
    
}
.lastline{
    
    color: white;
}