body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
h1{
    font-weight: 800;
    font-size: 60px;
    color:rgb(87,87,87);
    
    
    
}
p{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 30px;
    color: gray;
}
.top-span{
    color: rgb(251,152,76);
}
.top-section{
    display: flex;
    padding-left: 6%;
    padding-top: 8%;
    
    margin-bottom: 100px;
    

}
.first-intro{
    width: 50%;
    padding: 15px;
    font-size: 30px;
    
    
    
    
}
.first-intro img{
    width: 100%;
    

}
.button{
    background-image: linear-gradient(red,black);
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 25px;
    font-weight: 700;
}
.second-section{
    background-image: url(images/shapes/2nd_section_bg.png);
    background-repeat: no-repeat;
    display: flex; 

    background-position:center;
    background-size:cover;
    
    margin-bottom: 100px;
    
}

h2{
    padding-top: 15%;
    
    
    color:rgb(87,87,87);
    font-weight: 700;
}
h4{
    padding-top: 10px;
    padding-bottom: 15%;
    
    font-size: 20px;
    font-weight: 500;
    
}
.about_me{
    width: 40%;
    font-size: 30px; 
    padding-left: 8%;
    
   
    
}

.about_me img{
   
    
    width: 60%;
    padding-left: 15%;
    padding-top: 60px;
    
    
    
}

